table{
    margin: auto;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
}
th{
 background-color: #f5e3c9;
 font-size: 20px;
 padding: 2px;
}

td {
  font-size: 20px;
  padding: 3px;
}

img{
    padding-left: 5%;
    text-align: left;
     width: 100px;
}
